.text-heading{
font-family: 'Philosopher', sans-serif;
color: #171515;

}

.text-white{
  color: #fff;
}

.letter-spacing{
  letter-spacing: 0.5rem;
}

.header-hero, .default-hero{
  min-height: calc(100vh - 67px);
  background: url('./images/4.png') center/cover no-repeat;
}

.default-hero{
  background: url('./images/2.jpg') center/cover no-repeat;
}

.margin{
  margin-top: 2rem;
}

.mt-Z{
  margin-top:22rem;
}

.mini-text{
  font-size: 1.25rem;
}
